body{
    background-color: black;
}
h1{
    color:goldenrod;
    text-align: center;

    }

h2{
    color: goldenrod;
    text-align: left;
}
h3{
    color: goldenrod;
    text-wrap: calc(center);
}

h4{
    height: auto;
    align-items: center;
    justify-content: center;
    max-width: 100px;
}
